// main
$bg1: #17181e;
$bg2: #111121;
$header: #20212b;
$button1: #2b23f2;
$button2: #20212b;
$button3: #2b23f2;

// alerts
$success: #4fd55e;
$warning: rgb(203, 149, 42);
$danger: rgb(206, 65, 77);

// todos
$todoBG: #35587b;
$todoDark: #25364f;

// categories
$movies: #416b4e;
$moviesCard: $todoBG;

$music: #3a4674;
$musicCard: $todoBG;

$food: #663b40;
$foodCard: $todoBG;

$books: #917845;
$booksCard: $todoBG;

$products: rgb(15 118 110);
$productsCard: $todoBG;

$games: #5c416b;
$gamesCard: $todoBG;

$unlabeled: rgb(70, 98, 72);
$unlabeledCard: $todoBG;