// main
$bg1: #22242f;
$bg2: #111121;
$bg3: #131321;
$headerBG: #20212b;

$button1: #2b23f2;
$button2: #20212b;
$button3: #2b23f2;
$confirm: #43aa8e;
$delete: #9d3475;

$textLight: rgb(237, 254, 255);
$textDark: rgb(38, 51, 52);
$textSpecial: rgb(14, 98, 129);


// alerts
$success: #4fd55e;
$warning: rgb(234, 179, 70);
$danger: rgb(206, 65, 77);


// todos
$todoBG: #2e5173;
$todoDark: #25364f;


// categories
$movies: #416b4e;
$moviesCard: $todoBG;

$music: #36466c;
$musicCard: $todoBG;

$food: #663b40;
$foodCard: $todoBG;

$books: #917845;
$booksCard: $todoBG;

$products: rgb(15 118 110);
$productsCard: $todoBG;

$games: #5c416b;
$gamesCard: $todoBG;

$unlabeled: rgb(70, 98, 72);
$unlabeledCard: $todoBG;