#alert-box {
  min-width: 18em;
  max-width: 32vw;
  padding: 1em;

  p.alert-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: antiquewhite;

    .special {
      font-weight: 600;
      color: rgb(248, 179, 100);
    }
  }

  // alert styles
  &.success {
    background-color: rgb(32, 148, 75);
  }

  &.warning {
    background-color: rgb(203, 149, 42);
  }

  &.bad {
    background-color: rgb(206, 65, 77);
  }
}