#alert-box {
  min-width: 18em;
  max-width: 32vw;
  padding: 1em;

  p.alert-text {
    font-size: 1.2rem;
    font-weight: 500;

    .special {
      font-weight: 600;
      color: rgb(0, 53, 45);
    }
  }

  // alert styles
  &.success {
    background-color: rgb(32, 148, 75);
  }

  &.warning {
    background-color: rgb(185, 148, 46);
  }

  &.bad {
    background-color: rgb(206, 65, 77);
  }
}