@import 'colors';

#alert-box {
  min-width: 18em;
  max-width: 34vw;
  padding: 1em;
  word-wrap: break-word;

  p.alert-text {
    font-size: 1.2rem;
    font-weight: 500;
    color: $textLight;

    .special {
      font-weight: 600;
      color: $textSpecial;
    }
  }

  // alert styles
  &.success {
    background-color: $success;
  }

  &.warning {
    background-color: $warning;
  }

  &.danger {
    background-color: $danger;
  }
}