// Global styling
body, html {
  margin: 0;
}

* {
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;
}

nav, textarea {
  transition: none;
}

body {
  min-height: 100vh;
  text-align: center;
  padding-bottom: 100px;
  user-select: none;
  overflow: hidden;
}

nav {
  width: 100vw;
}

h1.text-4xl {
  margin-top: 6rem;
}

main {
  background-color: inherit;
  margin: auto;
  width: 95vw;
}