// Global effects
html {
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;

  *, *:before, *:after {
    @extend html;
  }

  textarea, #alert-box {
    transition: none;
  }
}


body {
  text-align: center;
  user-select: none;
  // overflow: hidden; // Hide scrollbars

  // Tailwind override
  .text-base {
    font-size: calc(1rem + 0.05vw);
  }
}

nav {
  .logo {
    font-family: 'Gluten',cursive;
    margin-left: 1em;
    margin-top: 8px;
    color: white;
    font-weight: 400;
    font-size: 3rem;

    &:first-letter {
      color:#09C;
    }
    &:nth-letter(even) {
      color:rgb(170, 0, 204);
    }
    &:last-letter {
      color:rgb(0, 204, 92);
    }
  }
}