// = Tailwind overrides =
body {
  .text-base {
    font-size: calc(1rem + 0.05vw);
  }
}

// = main todos section =
.category {
  header {
    font-weight: 500;
  }

  min-width: 280px;
  max-width: 360px;
  min-height: 460px;
  overflow-x: hidden;
  overflow-y: auto;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

article.todo {
  // = main card styling =
  // fa icons
  i.far, i.fa-solid {
    position: absolute;
    right: 4px;
    color: coral;
  }

  header.card {
    box-shadow: 0px 6px 3px 2px rgba(26, 24, 25, 0.2);
    min-height: calc(60px + 0.3vw);
    max-height: 100px;
    cursor: pointer;

    // todo checkbox
    [type=checkbox] {
      position: absolute;
      left: 4px;
    }

    p.description {
      padding: 4px 6px;
      font-weight: 400;
    }

    p.subtitle {
      font-weight: 500;
      color: rgb(152, 180, 180);
      font-size: 0.8em;
    }


    &.complete {
      box-shadow: 0px 0px 8px 3px rgba(255, 60, 151, 0.6);
      opacity: 0.5;
      overflow: hidden;
      background: rgba(116, 73, 159, 0.8);
      background: radial-gradient(circle, #3f235a 0%, #1b0c43 100%);
    }
  }

  // = edit mode styling =
  // reveal buttons
  .hover {
    opacity: 0;
  }
  &:hover .hover {
    opacity: 1;
  }

  // text area categories box - will replace with dropdown later
  .w-28 {
    resize: none;
    height: 40px;
    overflow: hidden;
    text-align: center;
    color: aliceblue;
    font-weight: 400;
  }

  // edit toggles
  > form.edit {
    display: none;
  }

  &.editing {

    min-width: 240px;
    margin: 20px;

    > .card {
      display: none;
    }

    > form.edit {
      display: block;
    }
  }
}

//alert classes
.red{
  background-color: rgb(239 68 68);
  height:30px;
  padding:5px;
}

.green{
  background-color: rgb(22 163 74);
  height:30px;
  padding:5px;
}

#Movies .todo > header.card {
  background-color:rgb(20, 83, 39);
}

#Music .todo > header.card {
  background-color:rgb(21 94 117);
}

#Books .todo header {
  background-color: rgb(206, 95, 16);
}

#Food .todo header {
  background-color: rgb(127 29 29);
}

#Books .todo > header.card {
  background-color: rgb(206, 95, 16);
}

#Food .todo > header.card {
  background-color: rgb(127 29 29);
}

//Splash page animation
$w: 96px;
$h: 112px;
$xspace: $w/2;
$yspace: $h/4 - 1;
$speed: 1.5s;

.tetrominos {
  margin-top: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-$h, -$w);
  animation-delay: 5s;
}

.tetromino {
  width: $w;
  height: $h;
  position: absolute;
  transition: all ease .3s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%23010101" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%23fff" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.box1 {
  animation: tetromino1 $speed ease-out infinite;
}

.box2 {
  animation: tetromino2 $speed ease-out infinite;
}

.box3 {
  animation: tetromino3 $speed ease-out infinite;
  z-index: 2;
}

.box4 {
  animation: tetromino4 $speed ease-out infinite;
}

@keyframes tetromino1 {

  0%,
  40% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    transform: translate(0, 0);
  }

  50% {
    /* pre-box */
    transform: translate($xspace, -$yspace);
  }

  60%,
  100% {
    /* box */
    /* compose logo */
    transform: translate($xspace*2, 0);
  }
}

@keyframes tetromino2 {

  0%,
  20% {
    /* compose logo */
    /* 1 on 3 */
    transform: translate($xspace*2, 0px);
  }

  40%,
  100% {
    /* L-shape */
    /* box */
    /* compose logo */
    transform: translate($xspace*3, $yspace);
  }
}

@keyframes tetromino3 {
  0% {
    /* compose logo */
    transform: translate($xspace*3, $yspace);
  }

  20%,
  60% {
    /* 1 on 3 */
    /* L-shape */
    /* box */
    transform: translate($xspace*2, $yspace*2);
  }

  90%,
  100% {
    /* compose logo */
    transform: translate($xspace, $yspace);
  }
}

@keyframes tetromino4 {

  0%,
  60% {
    /* compose logo */
    /* 1 on 3 */
    /* L-shape */
    /* box */
    transform: translate($xspace, $yspace);
  }

  90%,
  100% {
    /* compose logo */
    transform: translate(0, 0);
  }
}

// Logo and splash styling
body > nav > div {
  display: flex;
  justify-content: space-between;
}

#splash {
  margin-top: 3rem;
}

.welcome-message {
  font-size: 2rem;
  padding-top: 20rem;
}

.logo {
  font-family: 'Gluten',cursive;
  margin-left: 1em;
  margin-top: 8px;
  color: white;
  font-weight: 400;
  font-size: 3rem;

}


