// Global effects
html {
  border-radius: 8px;
  transition: 0.3s;
  text-align: center;

  *, *:before, *:after {
    @extend html;
  }

  textarea, #alert-box {
    transition: none;
  }
}


body {
  text-align: center;
  user-select: none;
  // overflow: hidden; // Hide scrollbars

  // Tailwind override
  .text-base {
    font-size: calc(1rem + 0.05vw);
  }
}

nav {
  .logo {
    font-family: 'Gluten',cursive;
    margin-left: 1em;
    margin-top: 8px;
    color: white;
    font-weight: 400;
    font-size: 3rem;

    &:first-letter {
      color:#09C;
    }
    &:nth-letter(even) {
      color:rgb(170, 0, 204);
    }
    &:last-letter {
      color:rgb(0, 204, 92);
    }
  }
}

//alert classes
.red{
  background-color: rgb(239 68 68);
  height:30px;
  padding:5px;
}

.green{
  background-color: rgb(22 163 74);
  height:30px;
  padding:5px;
}

#Movies .todo > header.card {
  background-color:rgb(20, 83, 39);
}

#Music .todo > header.card {
  background-color:rgb(21 94 117);
}

#Books .todo header {
  background-color: rgb(206, 95, 16);
}

#Food .todo header {
  background-color: rgb(127 29 29);
}
#Products .todo header {
  background-color: rgb(17 94 89);
}

#Books .todo > header.card {
  background-color: rgb(206, 95, 16);
}

#Food .todo > header.card {
  background-color: rgb(127 29 29);
}

#Games .todo > header.card{
  background-color: rgb(55 48 163);
}

#Unlabeled .todo > header.card{
  background-color: rgb(6 95 70);
}



.line-1{
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
animation: typewriter 6s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 24em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

