@import 'colors';

// = CATEGORIES =
#categories-container .category {

  // Category name
  >header {
    font-weight: 500;
    padding-right: 2rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 101%;
    margin: 0 auto;
    height: 3em;
    padding-top: 0.8em;

    >i.fa-solid,
    >i.fa-brands,
    >i.fa-regular {
      padding-right: 1rem;
    }
  }

  min-width: 280px;
  max-width: 360px;
  min-height: 460px;
  overflow-x: hidden;
  overflow-y: auto;

  // hide scrollbar but still allow scrolling
  &::-webkit-scrollbar {
    display: none;
  }
}

// = main card styling =
li.todo {
  min-width: 90%;
  margin: 2em auto;

  // hover icons
  i.fa-circle,
  i.fa-circle-check,
  i.fa-edit {
    padding: 0.1em;
    top: 0.2em;
    cursor: pointer;
  }

  // edit pencil icon
  .card i.fa-edit {
    position: absolute;
    right: 4px;
    color: coral;
  }

  // todo checkbox
  i.fa-circle-check {
    position: absolute;
    left: 4px;
    font-size: 1.7rem;

    // unchecked
    &.fa-regular {
      color: $confirm;
    }

    //checked
    &.fa-solid {
      color: #00fff7;
      color: $delete;
    }
  }

  // todo main card
  article.card {
    box-shadow: 0px 6px 3px 2px rgba(26, 24, 25, 0.2);
    min-height: calc(80px + 0.3vw);
    max-height: 120px;
    max-width: 340px;

    // card description and subtitle container
    > div {
      word-wrap: break-word;
      max-width: 98%;

      p.description {
        padding: 0.4em 0.6em;
        font-weight: 500;

      }

      p.subtitle {
        font-weight: 400;
        color: rgb(149, 240, 240);
        font-size: 0.85em;
        line-height: 1.2em;
        padding: 0.2em;
      }
    }

    &.complete {
      box-shadow: 0px 0px 8px 3px rgba(232, 38, 128, 0.831);
      opacity: 0.7;
      overflow: hidden;
      background: rgba(116, 73, 159, 0.8);
      background: radial-gradient(circle, #3f235a 0%, #1b0c43 100%);
    }
  }

  // = edit mode styling =
  // reveal buttons
  .hover {
    opacity: 0;
  }

  &:hover .hover {
    opacity: 1;
  }

  // edit form styles
  >form.edit {
    background-color: $todoDark;
    border-radius: 30px;
    display: none; // hidden by default

    // close button
    i.fa-xmark {
      position: absolute;
      right: 4px;
      color: coral;
    }

    // 'Update todo' header and icons
    header {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 2.4em;
      border-radius: 16px;
    }

    // new description form
    textarea[name="description"] {
      width: 14em;
      height: 4em;
      overflow: hidden;
    }

    // categories dropdown
    select[name="category_id"] {
      resize: none;
      width: 6em;
      height: 2.5em;
      overflow: hidden;
      font-size: 0.8rem;
      text-align: center;
      color: aliceblue;
      font-weight: 300;
      cursor: pointer;
      margin: 1em;
      align-self: center;
      appearance: none;
    }

    // new subtitle form
    textarea[name="subtitle"] {
      resize: none;
      overflow: hidden;
      width: 12em;
      height: 3.8em;
      font-size: 1rem;
      text-align: center;
      color: aliceblue;
      font-weight: 300;
      margin-bottom: 1em;
    }

    button.confirm-edit {
      background-color: $confirm;
    }

    button.delete-button {
      background-color: $delete;
    }
  }



  // = edit mode active =
  &.editing {
    min-width: 240px;
    margin: 20px auto;
    border-radius: 2em;

    >article.card {
      display: none; // hides main todo card
    }

    >form.edit {
      display: flex; // unhides edit form
      flex-direction: column;
      align-items: stretch;
    }
  }
}

#categories-container {
  #Movies {
    background-color: $movies;

    li.todo > article.card {
      background-color: $moviesCard;
    }
  }

  #Music {
    background-color: $music;

    li.todo > article.card {
      background-color: $musicCard;
    }
  }

  #Food {
    background-color: $food;

    li.todo > article.card {
      background-color: $foodCard;
    }
  }

  #Books {
    background-color: $books;

    li.todo > article.card {
      background-color: $booksCard;
    }
  }

  #Products {
    background-color: $products;

    li.todo > article.card {
      background-color: $productsCard;
    }
  }

  #Games {
    background-color: $games;

    li.todo > article.card {
      background-color: $gamesCard;
    }
  }

  #Unlabeled {
    background-color: $unlabeled;

    li.todo > article.card {
      background-color: $unlabeledCard;
    }
  }
}